$blue: rgb(176, 221, 235);
$textColor: rgb(34, 33, 27);
$darkBlue: rgb(70, 119, 179);
@mixin button{
    margin: 1rem;
    background-color:  rgb(102, 101, 94);
    border: 1px solid rgb(102, 101, 94);
    font-size: 0.85rem;
  box-shadow:2px 2px rgba(0, 0, 0, 0.279) ;
  font-weight: lighter;
  color: white;
  border-radius: 10px;
}
@mixin button-active{
    background-color: rgb(224, 76, 39);
    border: 1px solid rgb(224, 76, 39);
}